.game {
    width: auto;
    background-color: rgb(255, 250, 240);
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.humanPlayers{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 5rem;

}
.aiPlayers{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 5rem;
}
.btngame {
    
    margin: 0.3rem;
    background-image: url('../../../boris.jpg');
    width: 4rem;
    height: 4rem;
    color: azure;
    font-size: 1.5rem;

}
/*
board styles
 */
 .board{
    width: 800px;
    height: 800px;
    background-image: url('../../../pictures/tycoon.png');
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top{
    width: 100%;
    height: 6.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


}
.mid{
    width: 100%;
    height: 37rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
}

.bottom{
    width: 100%;
    height: 6.6rem;
    opacity: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.mid-left{
    height: 100%;
    width: 6.9rem;
    background-color: blue;
    opacity: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.mid-mid{
    height: 100%;
    width: 38rem;
    background-color: rgb(184, 30, 69);
    opacity: 50%;
    
}
.mid-right{
    height: 100%;
    width: 6.9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 
}
.corner{
    height: 100%;
    width: 8rem; 
}
.horizontal{
    height: 100%;
    width: 4.9rem;
    background-color: rgb(160, 44, 44);
    opacity: 50%;
    
}
.vertical{
    height: 4.1rem;
    width: 100%;
    background-color: rgb(65, 44, 160);
    opacity: 50%;
    
}
.player1{
    position:relative;


    
}
.player1::after{
    content: url("../../../boris.jpg");
    position: absolute;
    bottom: 0;

}
.div{
    margin-top:2rem;
    width: 2rem;
    height: 2rem;
    image-rendering: calc(25);
    border-image-width: 3rem;
    background-image:url("../../../boris.jpg");
    
}
img:hover {
    opacity: 70%;
}