.game {
    width: auto;
    background-color: rgb(255, 250, 240);
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.humanPlayers{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 5rem;

}
.aiPlayers{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 5rem;
}
.btngame {
    background-color: rgb(50, 129, 199);
    margin: 0.3rem;
    width: 6rem;
    height: 7rem;
    color: rgb(153, 17, 17);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;

}
/*
board styles
 */
 .board{
    width: 800px;
    height: 800px;
    background-image: url('../../assets/Property\ Tycoon.png');
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.top{
    width: 100%;
    height: 6.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


}
.mid{
    width: 100%;
    height: 37rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
}

.bottom{
    width: 100%;
    height: 6.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.mid-left{
    height: 100%;
    width: 6.9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.mid-mid{
    height: 100%;
    width: 38rem;

    
}
.mid-right{
    height: 100%;
    width: 6.9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 
}
.corner{
    height: 100%;
    width: 8rem; 
}
.horizontal{
    height: 100%;
    width: 4.9rem;
    
}
.vertical{
    height: 4.1rem;
    width: 100%;

    
}
.playerimage{
    position:relative;
    bottom: 0;
}
.player1::after{
    background-image: url('../../assets/Iron.png');
    background-size: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
}
.player0::after{
    background-image: url('../../assets/Boot.png');
    background-size: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
}
.player2::after{
    background-image: url('../../assets/Hat_Stand.png');
    background-size: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
}
.player3::after{
    background-image: url('../../assets/Mobile Phone.png');
    background-size: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
}
.player4::after{
    background-image: url('../../assets/Ship.png');
    background-size: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
}
.player5::after{
    background-image: url('../../assets/Cat.png');
    background-size: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
}

.corner{
    position: relative !important;
}

.div{
    margin-top:2rem;
    width: 2rem;
    height: 2rem;
    image-rendering: calc(25);
    border-image-width: 3rem;
    
}

img:hover {
    opacity: 70%;
}

.rules{
    width: auto;
    height: auto;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.startGame {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}
.boardGameSec{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.secondWindow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.playerList{
    width: auto;
    height: auto;
}
.dice{

}
.diceContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.diceOne{
    width: 4rem;
    height: 4rem;
    background-image: url("https://e7.pngegg.com/pngimages/410/485/png-clipart-warhammer-40-000-yahtzee-dice-30-seconds-computer-icons-dice-game-angle.png");

}
.diceTwo{
    width: 4rem;
    height: 4rem;
    background-image: url("https://e7.pngegg.com/pngimages/410/485/png-clipart-warhammer-40-000-yahtzee-dice-30-seconds-computer-icons-dice-game-angle.png");
}


/*loader

.loader-warapper {
    width: 30rem;
    height: 30rem;

}
.loader{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 20px solid #162534;
    border-top-color:#4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;

}
.loader-inner{
    border-top-color: #36f372;
    border-bottom-color:#fff;
    animation-duration: 5s;
    border-radius: 10px solid;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg)
    }50%{
        transform: scale(.5) rotate(-360deg)
    }100%{
        transform: scale(1) rotate(360deg)
    }
    
}*/
.playerList{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 6rem;
    margin-left: 2rem;
    background-color: azure;
    
}
.playerListname{
    margin: 0.5rem;
}
.moneyPlayerList{
    margin: 0.5rem;
}
.playerListProperty{
    margin: 0.5rem;
}
.playerDetails{
    margin-top: 6rem;
    margin-left: 2rem;
    background-color: azure;
}
.playerLogo{
    width: 15rem;
    height: 15rem;
   
    
}
.logo{
     border-radius: 4rem;
}
.playerDetails{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.playerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.playerName .playerMoney .playerProperties .playerlogo{
    margin:3rem;
    
}
.dialogPlayer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.dialogInfo{
    background-color: azure;
    width: 30rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.dialogAction{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
}