.home {
    width: auto;
    background-color: azure;
    height: 60rem;
}
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.sussexPicture{
    width: 20rem;
    height: 20rem;
    background-image: url("https://banner2.cleanpng.com/20180721/gyk/kisspng-university-of-sussex-logo-master-s-degree-academic-leeds-beckett-university-5b52d2b0c355b7.2907083515321545448001.jpg");
}