.game {
    width: auto;
    background-color: rgb(255, 250, 240);
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.board{
    width: 800px;
    height: 800px;
    background-image: url('../../pictures/tycoon.png');
}