.tycoon {
    width: auto;
    background-color: azure;
    height: 60rem;
}
.container {
    height:37.3125rem;
    width: 50rem;

    background-image: url('../../pictures/mainMenu.PNG');
    border-radius: 25px;
   
}
.button {
    
    background-image: url(https://media.istockphoto.com/vectors/plan00layouttemplatenumbered60-vector-id1011366624?s=612x612);
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
}
.container-top{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    
}
.bottom-two-left-bnt{
    margin-left: 1rem;
    width: 12rem;
    height: 12rem;
    margin-top: 0.5rem;
    border-radius: 2.5rem 0rem 2.5rem 0rem;
    background-image: url("../../pictures/shop.png");
}
.bottom-two-right-bnt{
    margin-left: 1rem;
    width: 12rem;
    height: 12rem;
    margin-top: 0.5rem;
    border-radius: 2.5rem 0rem 2.5rem 0rem;
    background-image: url("../../pictures/chat.png");
}
.bottom-two{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.top-twobnt{
    width: 25rem;
    height: 16rem;
    margin-top: 2.3rem;
    margin-left: 1.08rem;
    background-image: url("../../pictures/learnMore.png");
    border-radius: 2rem;
}
.container-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}




.menu-top{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.menu-bottom{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.button-left{
    width: 20rem;
    height: 28rem;
    margin-top: 2.3rem;
    margin-left: 1.08rem;
    background-image: url("../../pictures/play.png");
    border-radius: 4rem;
}
button:hover{
    
    border-radius: 50px;
    border-width: 5px;
    border-color: rgb(255, 251, 0);
}